/* Aquests valors es defineixen al JavaScript */
:root{
    --mida: 0;
    --columnes: 0;
    --files: 0;
}

* { 
    box-sizing: border-box; 
}

body{
    align-items: center;
    background:#f6f7fb;
    color:#111827;
    display: flex;
    flex-direction: column;
    font-family:"Open Sans", sans-serif;
    height: 100vh;
    justify-content: center;
    padding: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

h2 {
    color: rgb(20, 194, 20);
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
}

#winScreen {
    display: none;
    flex-direction: column;
    align-items: center;
}

.win {
    display: flex !important;
}

#tauler{
    background:white;
    border: 1px solid #111827;
    height: calc(var(--mida) * var(--files));
    overflow: hidden;
    position: relative;
    width: calc(var(--mida) * var(--columnes));
}

.casella{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: var(--mida);
    justify-content: center;
    position: absolute;
    user-select: none;
    width: var(--mida);
    transition: transform 0.3s ease;
}

.casella:hover{
    cursor: pointer;
}

.vacia:hover {
    cursor: default;
}

.controls{
    align-items:center;
    display:flex;
    gap:12px;
    margin-top:15px;
}

button{
    background:#111827;
    border:0;
    border-radius:10px;
    color:white;
    cursor:pointer;
    font-weight:800;
    padding:10px 14px;
}